html, body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #a5a5a5;

  * {
    box-sizing: border-box;
    user-select: none;
  }
}

.root {
  color: black;
  overflow: hidden;
  position: relative;
  &--loading {
    visibility: hidden;
  }

  &.running {
    .arrow, .mover, .startBtn {
      display: none;
    }
    .nav__start {
      display: none;
    }
    .nav__stop {
      display: block;
    }
  }
}

.canvas {
}

.arrow {
  width: 5px;
  height: 150px;
  background-color: #2E97FC;
  position: absolute;
  transform-origin: 50% 100% 0;
  opacity: 0.7;
  &__head {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2E97FC;
    cursor: move;
    z-index: 2;
  }
}

.mover {
  border-radius: 50%;
  background-color: #2E97FC;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  cursor: move;
  opacity: 0.3;
  z-index: 2;
}


.nav {
  opacity: 0.9;
  position: absolute;
  top:0;
  left: 0;
  padding: 10px;
  height: 30px;
  background-color: #424242;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__indicator {
    color: #fff;
    display: flex;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
    &--fixed {
      width: 60px;
    }
  }
  &__indicator-icon {
    margin-right: 7px;
    display: flex;
    font-size: 20px;
  }

  &__action-button {
    margin-right: 15px;
    color: black;
    border: none;
    padding: 8px 10px;
    background-color: #FDEF17;
    cursor: pointer;
    z-index: 2;
  }

  &__stop {
    display: none;
  }

  &__simulation-speed {
    flex-shrink: 0;
    display: flex;
    color: white;
    align-items: center;
    font-weight: 700;
    margin-right: 25px;
    span {
      font-size: 12px;
      margin-right: 4px;
    }
    input {
      display: block;
      width: 30px;
      background-color: #636363;
      border: none;
      color: white;
      font-size: 15px;
      font-weight: 700;
    }
  }
}
